[Unit]
Description=Your Scala Application
After=network.target

[Service]
User=your-user
ExecStart=/usr/bin/java -jar /path/to/deployment/your-app-name-assembly-0.1.jar
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

